.emacs.d/el-get
.emacs.d/elpa
.emacs.d/history
.emacs.d/.python-environments
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/network-security.data
.emacs.d/amx-items
.emacs.d/recentf
.emacs.d/straight/
.emacs.d/transient/
.emacs.d/url/
.emacs.d/tramp
.bash_logout
.cache/
.cargo/
.config/
.gnome/
.gnupg/
.local/
.mozc/
.mozilla/
.pki/
.pylint.d/
.ssh/
.thunderbird/
.tmux/
.uim.d/
.vmware/
.zcompdump
core
.ICEauthority
/mnt/
/env/
.*_history
.multirust
.rustup/
.viminfo
.zprofile
